
body {
   font-family: arial;
   background-image: linear-gradient(to bottom right, grey, white);
   display:cover;
}
   /*
   .current {
    border-radius: 3px;  
    text-align: end;
    padding: 5%;
    margin: 0;
}
*/
  .card {
    background-color: white;
    opacity: 0.5;
    border-radius: 3px;  
    text-align: end;
    padding: 5%;
    margin: 0;
  }
  
  .weekly-forecast {
    border:solid;
    
    padding: 50px;
    margin-top: 20px;
  }
  
  
  
  
  
  
  /*
  body {
  background-color: antiquewhite;
  display:flex;
  justify-content: center;
  
  }
  
  .header {
  background-color: pink;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 420px;
  margin: 5px;
  font-family: url("https://fonts.google.com/specimen/Roboto");  /*font weight is light, do we need to add this separately?*/
  /*need to put a background image we have to one fo rday and for night?*/
  /*
  .chat-bar{
    border: none;
    outline:none;
    padding:0.8em;
    border-radius: 18px;
  }
  
  .button{
    border-radius: 40%;
    padding: 0.4em;
  }
  
  
  
  
  weeklyForecast {
  background-color: blue;
  border-radius: 5px ;
  }